<h1 style="color: darkgreen">Hello Everyone From Ram</h1>
<hr />
<!-- <ea32-first></ea32-first>
<hr />
<ea32-second></ea32-second>
<hr /> -->
<!-- <ea32-third></ea32-third> -->

<!-- <p [innerHTML]="myData"></p> -->

<!-- <ea32-fourth></ea32-fourth> -->

<ea32-fourth [innerHTML]="myData"></ea32-fourth>
<!-- <ea32-fourth
  [myIncomingData]="myData"
  (sendDataToParent)="catchDataFromChild($event)"
></ea32-fourth> -->

<!-- <ea32-like
  [liked]="isliked"
  (sendIsLikeToParent)="catchIsLikedFromChild($event)"
></ea32-like> -->
<!-- <ea32-fifth> -->
<!-- <h1>Hey</h1> -->
<!-- <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
    asperiores error consectetur totam natus numquam adipisci
  </p> -->
<!-- <ng-container class="my-title">my-title-one</ng-container>
  <ng-container ram>my-subtitle-one</ng-container> -->
<!-- </ea32-fifth> -->

<!-- <ea32-sixth></ea32-sixth> -->
